body{
    background: -webkit-linear-gradient(left, #626262 0%,rgba(122,122,122,0.85) 15%,rgba(119,119,119,0.85) 85%,#626262 100%);
    background: -o-linear-gradient(left, #626262 0%,rgba(122,122,122,0.85) 15%,rgba(119,119,119,0.85) 85%,#626262 100%);
    background: -moz-linear-gradient(left, #626262 0%,rgba(122,122,122,0.85) 15%,rgba(119,119,119,0.85) 85%,#626262 100%);
    background: -ms-linear-gradient(left, #626262 0%,rgba(122,122,122,0.85) 15%,rgba(119,119,119,0.85) 85%,#626262 100%);
    background: linear-gradient(left, #626262 0%,rgba(122,122,122,0.85) 15%,rgba(119,119,119,0.85) 85%,#626262 100%);
}

.navbar-inverse{
    margin-top: 25px;
    border-radius: 5px;
}