div(class="navbar-wrapper")
    div(class="container")
        div(class="navbar navbar-inverse navbar-static-top")
            div(class="container")
                div(class="navbar-header")
                    a(href='#/' class="navbar-brand")="Solodovnikov"
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                        span(class="sr-only")= 'Toggle navigation'
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                div(class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        li(class='active')
                            a(href='#/') Home
                        li
                            a(href='#/') Aboout
                        li
                            a(href='#/') Contact
                        li(class='dropdown')
                            a(class="dropdown-toggle" data-toggle="dropdown") Dropdown
                                b(class="caret")
                            ul(class="dropdown-menu")
                                li(class='active')
                                    a(href='#/') home
                                li
                                    a(href='#/') Aboout
                                li
                                    a(href='#/') Contact