//- home.jade
doctype html
html
    head
        title= 'Igor Solodovnikov'
        link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
        link(href='/styles/main.css', rel='stylesheet')
        script(src="/jquery/jquery.js")
        script(src="/bootstrap/js/bootstrap.js")
header
    block header
body
    div(class="container site-wrapper")
footer="footer text"

script.
    (function($){
        $(document).ready(function () {
        });
    })(jQuery);